	#content div.small											{ width:32%;margin-left:1.8%;float:left; }
	#content div.small.x2										{ width:66%; }
	
	#header #notice a 											{ color:#CCE5F2; }
	.tabs-box a													{ color:#CFCFCF; }
	
	.gallery-view-thumbnail .thumb 								{ background:#EAEAEA; } 
	.gallery-view-thumbnail .edit 								{ background-color:#000; }
	.gallery-view-thumbnail .remove 							{ background-color:#000; }
	
	.wizard .progress-bar .label 								{ color:#B3D7E5; }
	.wizard .progress-bar .label.selected						{ color:#fff; }
	
	.wizard .progress-bar .label span 							{ color:#539BB5; }
	.wizard .progress-bar .label.selected span					{ color:#B3D4E1; }
	
	.wizard .progress-bar .pbar 								{ background:#016C99;  }
	
	#exp-login .input input 		{ width:265px;height:25px;  }
	
	.help { float:right; }
	
	#style-background 											{ display:none; }
	body 														{ background:url('../images/back-body-texture.png'); }
